Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/StarterContent/
Content/FXVarietyPack/
Content/Fab/
Content/Animations/
Content/Weapons/Meshes/
Content/MSPresets/
Content/Free_Magic/
*.DotSettings.user
.idea/
Content/__ExternalActors__/
Content/__ExternalObjects__/